/*Comandos para que utilice el alto, ancho de la pagina y fuentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body {
    width: 100%;
    height: 100%;
}

/*Fuentes*/
@font-face{
    font-family:LexendMega-Light;
    src: url('Fuentes/Lexend_Mega/static/LexendMega-Light.ttf');
}

@font-face{
    font-family: LexendMega-ExtraLight;
    src: url('Fuentes/Lexend_Mega/static/LexendMega-ExtraLight.ttf');
}
@font-face{
    font-family:LexendMega-Regular;
    src: url('Fuentes/Lexend_Mega/static/LexendMega-Regular.ttf');
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 850px;
    height: 650px;
    border-radius: 20px;
}
.contenido h2{
    font-family: 'LexendMega-Regular';
    font-size: 40px;

}
.contenido h3{
    font-family: 'LexendMega-Light';
    font-size: 20px;

}
.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    font-family: 'LexendMega-ExtraLight';
}

/*text área*/
.escritura{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(155, 155, 155);
    height: 347px; 
    width: 759px;
  padding: 10px;
}
.escritura p{
  margin: 0 0 12px 0; /* Espacio debajo de cada párrafo */
}

.escritura ul {
  padding-left: 20px;
  list-style-type: disc;
}

.boton_enviar{
    border-radius: 40px;
    background-color: #67DF55;
    border-color:#67DF55; 
    margin: 5px;
    width: 188px;
    height: 34.67px;
    font-family: 'LexendMega-ExtraLight';
    font-size: 16px;
  
}